@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&family=Roboto+Condensed:wght@300;400;500;700&display=swap');

html, body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-image: url('../public/assets/Images/backgridun.png');
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

/* Digital Security theme variables and helpers */
:root {
  --bg-950: #00070d;
  --bg-900: #59080f;
  --red-900: #030811;
  --red-800: #17070d;
  --red-700: #27070d;
  --red-600: #2f0911;
  --red-500: #36070d;
  --red-400: #170911;
  --line-500: #950911;      /* neon-ish line color */
  --highlight-500: #cb0a13; /* bright accent */
}

.page {
  color: #fff;
}

.accent { color: var(--highlight-500); }